.container-content--instMenuMobileContainer {
  &.container-content--mobile {
    cursor: pointer;

    &,
    .handled {
      box-sizing: border-box;
      padding: 0;
      min-height: unset;
      margin: 0;
      background-color: transparent;
      appearance: none;
      border: 0;
    }

    & {
      background: $white;
      margin-top: 16px;
      margin-bottom: 16px;
      @include border-radius();


      @include mq('1024') {
        margin-top: 0;
      }

    }

    .container-content--title {
      @include textConfig($blue, 14, $fontBold, 17.7, left, initial, 0);
      font-family: $primaryFont;
      background-color: $white;
      min-height: 40px;
      max-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 30px;
      padding: 20px;
      border: 1px solid $light-gray-04;
      box-shadow: none;
    }

    .list--options {
      display: flex;
      flex-direction: column;
      background-color: $white;
      border: 1px solid $light-gray-04;

      .list-item--title {
        margin-bottom: 16px;
        margin-left: 6px;
        @include textConfig($black, 16, $fontSemiBold, 19.5, left, initial, 0);

      }

      .list-item--link {
        text-decoration: none;
        letter-spacing: .2px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        border-bottom: 0;
        margin-left: 6px;
        @include textConfig($dark-gray, 14, $fontRegular, 19, left, initial, 0);

        &:last-child {
          border-bottom: 0;
          margin-bottom: 52.5px;
        }

        &.list-item--active {
          font-weight: $fontSemiBold;
          color: $blue;
        }
      }
    }

    .icon--toggle-state-isopen {
      @include size(9px, 8px);

      & :first-child {
        fill: $primary-color;
      }
    }

    &.container-content--opened {
      background-color: $white;


      .icon--toggle-state-isopen {
        transform: rotate(180deg);
      }

      .container-content--title {
        @include textConfig($blue, 14, $fontBold, 17.7, left, initial, 0);
        font-family: $primaryFont;
        background-color: $white;
        padding-bottom: 30px;
        border-bottom: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .list--options {
        border-top: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }
  }
}

.container-component--instmenudesktop {
  @include mq('1024') {
    cursor: pointer;
    width: 100%;
    padding-right: 50px;

    &,
    .handled {
      box-sizing: border-box;
      min-height: unset;
      margin: 24px 0;
      background-color: transparent;
      appearance: none;
      border: 0;
    }


    .list--options {
      display: flex;
      flex-direction: column;
      width: 170px;

      .list-item--title {
        padding: 16px 0 8px;
        padding-top: 0;
        position: relative;
        top: 4px;
        cursor: default;
        margin: 0;
        @include textConfig($black, 16, $fontSemiBold, 19.5, left, initial, 0);
      }

      .list-item--link {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 8px 0;
        letter-spacing: .2px;
        white-space: nowrap;
        @include textConfig($dark-gray, 14, $fontRegular, 19, left, initial, 0);

        &:hover {
          text-decoration: underline;
        }


        &.list-item--active {
          font-weight: $fontBold;
          color: $primary-color;
        }
      }
    }
  }

}