.adtc-button-add-to-cart {
  @include display-flex();
  @include textConfig($white, 14, $fontBold, 20, center);
  background-color: $primary-color;
  border-radius: 1000px;
  border: 0;

  cursor: pointer;
  margin: 0;
  padding: 6px 10px;

  width: 100%;
  height: 40px;

  @include transition();

  &--pdp-flutuante {
    width: 202px;
    height: 35px;

    &-desktop {
      width: 407px;
    }
  }


  &:hover {
    background-color: $blue-01;
  }
}

.adtc-button-add-to-cart:disabled {
  cursor: not-allowed;
}

.adtc-button-add-to-cart:disabled .adtc-button-text-add {
  color: $dark-gray-01;
}

.adtc-button-text-add {
  font-family: $primaryFont;
  @include textConfig($secondary-color, 16, $fontBold, 20);
}

.adtc-button-increment,
.adtc-button-decrement {
  @include display-flex();
  background: transparent;

  @include textConfig($primary-color, 22, $fontBold, 20);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.adtc-button-quantity {
  border-radius: 8px;
  @include display-flex();
  @include size(35px, 100%);

  @include textConfig($black, 16, $fontRegular, 16, center);

  font-family: $primaryFont;
}

.adtc-span-unit {
  font-size: 16px;
  font-weight: $fontRegular;
}

.adtc-container-stepper {
  @include size(100%, 40px);

  @include display-flex($justify: space-between);

  padding: 6px 10px;
  border-radius: 60px;
  border: 1px solid $primary-color;
}

.adtc-quantityInput {
  @include display-flex();
  @include textConfig($primary-color, 22, $fontBold, 20, center);
  font-family: $primaryFont;
  width: 60px;
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  outline: none;
  border: 0;
  box-shadow: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &--pdp-flutuante {
    background-color: transparent;
  }
}

.adtc-button-wrapper {
  text-align: center;

  &--pdp-flutuante {

    .adtc-container-stepper--pdp-flutuante {
      @include mq('1026') {
        width: 407px;
      }

    }
  }

  &-pdp {

    @include display-flex();
    gap: 4px;

    @include mq('400') {
      justify-content: flex-start;
    }

    .adtc-container-stepper {
      max-width: 145px;

      @include mq('1026') {
        max-width: 164px;
      }

      &--pdp-flutuante {
        display: none;

        @include mq('1026') {
          display: flex;
        }
      }
    }

    .adtc-button-add-to-cart {
      max-width: 209px;
      border-radius: 60px;
      height: 48px;

      @include mq('400') {
        max-width: 100%;
      }

      @include mq('1026') {
        max-width: 513px;
      }
    }
  }
}

.adtc-sucess-message {
  @include textConfig($primary-color, 14, $fontSemiBold, 16, center);
}